<header>
  <mat-toolbar color="primary">
    <div class="container">
      <mat-toolbar color="primary" class="header__inner">
        <img src="../../../../assets/logo.svg" alt="logo">
        <nav #navMenu class="nav">
          <a mat-button [routerLink]="['/']" routerLinkActive="active" (click)="openCloseMenu()" class="nav__link">{{ 'HOME.TITLE' | translate }} </a>
          <app-home-nav *ngIf="!isUserLogin()"></app-home-nav>
          <app-user-nav *ngIf="isUserLogin()"></app-user-nav>
          <span class="language">
            <span>EN</span>
            <mat-slide-toggle [(ngModel)]="isChecked" (change)="setLanguage()"></mat-slide-toggle>
            <span>RU</span>
            <!-- <select #langSelect (change)="translate.use(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select> -->
          </span>
        </nav>
        <button class="burger__menu" mat-icon-button (click)="openCloseMenu()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </mat-toolbar>
</header>
