.board__task {
  position: relative;
  padding: 10px 10px 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__desc {
    font-size: 14px;
    line-height: 1.2;
    color: #898989;
    text-align: justify;
  }
  &__owner {
    color: #898989;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    margin-bottom: 0;
    padding-top: 3px;
    span {
      color: #29B6F6;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
  &__delete__btn {
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
