<section class="full-height center">
  <div class="form__container">
    <h2 class="form__title">{{ 'HOME.HOMENAV.SIGN_UP' | translate}}</h2>
    <form (submit)="onSignUp(ngForm)" #ngForm="ngForm" [formGroup]="signUpForm">
      <mat-form-field>
        <mat-label>{{ 'FORM.NAME' | translate}}</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="signUpForm.get('name')?.errors?.['required']">Name is required</mat-error>
        <mat-error *ngIf="signUpForm.get('name')?.errors?.['minlength']">At least 3 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'FORM.LOGIN' | translate}}</mat-label>
        <input type="text" matInput formControlName="login">
        <mat-error *ngIf="signUpForm.get('login')?.errors?.['required']">Login is required</mat-error>
        <mat-error *ngIf="signUpForm.get('login')?.errors?.['minlength']">At least 3 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'FORM.PASSWORD' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button style="margin-bottom: 0;" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.errors?.['passwordInvalid']">Password is easy. Please, select complex one</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!signUpForm.valid">{{ 'HOME.HOMENAV.SIGN_UP' | translate}}</button>
    </form>
    <p>{{ 'FORM.SIGNUP_REDIRECT_TEXT' | translate}}</p>
    <button mat-button color="primary" routerLink="/login">{{ 'HOME.HOMENAV.SIGN_IN' | translate}}</button>
  </div>
</section>
